
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	
	</head>
		<body>
		    <div class="container">
		        <h1 class="mt-5">Lista de Usuarios</h1>
		        <table class="table table-bordered mt-3">
		            <thead>
		                <tr>
		                    <th>Email</th>
		                    <th>Nombre</th>
		                    <th>Apellido</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="usuario : ${userList}">
		                    <td th:text="${usuario.getEmail()}"></td>
		                    <td th:text="${usuario.getFirstname()}"></td>
		                    <td th:text="${usuario.getLastname()}"></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</body>
	</body>
</html>